@model Notown.Models.Instrument

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this instrument?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Key)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Key)
        </dd>
        <dt>
            Musicians
        </dt>
        <dd>
            @if (Model.Musicians.Count() != 0)
            {
                <ol>
                    @foreach (var musician in Model.Musicians)
                    {
                        <li>@Html.DisplayFor(modelItem => musician.Name)</li>
                    }
                </ol>
            }
            else
            {
                <p>No musicians currently use this instrument!</p>
            }
        </dd>

    </dl>
    <p class="text-danger">
        Note, this will delete <strong><u>ALL</u></strong> musicians associated with this instrument!
    </p>
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
