@model Notown.Models.Song

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Song</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Album)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Album.Name) <text> - (</text><a asp-action="Details" asp-controller="Albums" asp-route-id="@Model.AlbumID">See Album</a><text>)</text>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Musician)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Musician.Name)
        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model.SongID">Edit</a> <em>|</em>
    }
    
    <a asp-action="Index">Back to List</a>
</div>
