@model Notown.Models.Album

@{
    ViewData["Title"] = "Delete Album";
}

<h2>Delete Album</h2>

<h3>Are you sure you want to delete this album?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Speed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Speed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CopyrightDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CopyrightDate)
        </dd>
        <dt>
            Producer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Musician.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Songs)
        </dt>
        <dd>
            <ol style="padding-left: 20px;">
                @foreach (var song in Model.Songs)
                {
                    <li>@Html.DisplayFor(modelItem => song.Title)</li>
                }
            </ol>
        </dd>
    </dl>
    <p class="text-danger">
        Note, this will remove <strong><u>all</u></strong> songs associated with this album!
    </p>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
