@model Notown.Models.Musician

@{
    ViewData["Title"] = "Delete Musician";
}

<h2>Delete Musician</h2>

<h3>Are you sure you want to delete this musician? </h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ssn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ssn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instrument.Name)
        </dd>
        <dt>
            Telephone Number
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Place.TelephoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Place)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Place.Address)
        </dd>
        <dt>
            Album List
        </dt>
        <dd>
            @if (@Model.Albums.Count() != 0)
            {
                @foreach (var album in Model.Albums)
                {
                    @Html.DisplayFor(modelItem => album.Name)
                    <br />
                }
            }
            else
            {
                <p>
                    This musician has no albums associated with them.
                </p>
            }
        </dd>
        <dt>
            Song List
        </dt>
        <dd>
            @if (@Model.Songs.Count() != 0)
            {
                @foreach (var song in Model.Songs)
                {
                    @Html.DisplayFor(modelItem => song.Title)
                    <br />
                }
            }
            else
            {
                <p>
                    This musician has no songs associated with them.
                </p>
            }
        </dd>
    </dl>
    <p class="text-danger">
        Note, this will remove <strong><u>all</u></strong> songs and albums associated with this musician!
    </p>
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
