@model Notown.Models.Musician

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Musician</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (User.Identity.IsAuthenticated)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Ssn)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ssn)
            </dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Instrument)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Instrument.Name)
        </dd>
        @if (User.Identity.IsAuthenticated)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Place)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Place.Address)
            </dd>
            <dt>
                Telephone Number
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Place.TelephoneNumber)
            </dd>
        }
        <dt>
            Album List
        </dt>
        <dd>
            @if (Model.Albums.Count() != 0)
            {
                    @foreach (var album in Model.Albums)
                    {
                        <a asp-action="Details" asp-controller="Albums" asp-route-id="@album.ID">@Html.DisplayFor(modelItem => album.Name)</a>
                        <br />
                    }
            }
            else
            {
                <p>No Albums have been added to this musician yet. Try <a asp-area="" asp-controller="Albums" asp-action="Index">adding one</a>!</p>

            }
        </dd>
        <dt>
            Song List
            <br />
        </dt>
        <dd>
            @if (Model.Songs.Count() != 0)
            {
                <strong>(Album - Song)</strong>
                <br />
                @foreach (var song in Model.Songs)
                {
                    if (song.AlbumID != null)
                    {
                        @Html.DisplayFor(modelItem => song.Album.Name)
                        <text> - </text>
                        <a asp-action="Details" asp-controller="Songs" asp-route-id="@song.SongID">@Html.DisplayFor(modelItem => song.Title)</a>;
                        <br />
                    }
                }
            }
            else
            {
                <p>No Songs have been added to this musician yet. Try <a asp-area="" asp-controller="Songs" asp-action="Index">adding one</a>!</p>

            }

        </dd>
    </dl>
</div>
<div>
    @if (User.Identity.IsAuthenticated)
    {
        <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> <em>|</em>
    }
    
    <a asp-action="Index">Back to List</a>
</div>
